
<%= button_to 'Log-Out',destroy_user_session_path, method: :delete %>
<head>
     <%= stylesheet_link_tag :home %>
</head>

<body>
    <div class="container">
        <div class="all-card">
            <% @posts.each do |post| %>
                <div class="card">
                    <div class="top">
                        <div class="userDeatils">
                            <div class="profileImg">

                            <%= image_tag user_image_url(post.user.profile), class: "cover"%>
                            <%#= image_tag 'default-user.png', class: "cover" %>
                            </div>
                            <h3><%= post.user[:username] %></h3>
                        </div>
                        <div class="dot">
                            <%= image_tag 'more.png', class: "heart" %>
                        </div>
                    </div>

                    <div class="imgBg">
                        <%= image_tag post.image, class: "cover" if post.image.attached? %>
                        <%#= image_tag 'img1.jpg', class: "cover" %>
                        <%# <img src="Bg.jpg" alt="bg" class="cover"> %>
                    </div>

                    <div class="btns">
                        <div class="left">
                            <%= image_tag 'heart.svg', class: "heart" %>
                            <%= image_tag 'comment.svg', class: "heart" %>
                            <%= image_tag 'share.svg', class: "heart" %>
                        </div>
                        <div class="right">
                            <%= image_tag 'bookmark.svg', class: "heart" %>
                        </div>
                    </div>

                    <h4 class="likes">5,489 likes</h4>


                    <h4 class="message">
                        <b><%= post.user[:username] %></b>
                        <%= post.desc %>
                        <br>
                        <span>#ironman</span>
                        <span>#captainamerica</span>
                    </h4>
                    
                    <%# Show comments %>
                    <div data-controller="show-all-comments">
                        <a class="comments" data-action="click->show-all-comments#onClick">View all <%= post.comments.count %> comments</a>

                        <div style="margin-top: 10px;" data-show-all-comments-target="showHideDiv" class="hidden all_comments">
                            <% post.comments.each do |comment| %>
                                <div data-controller="show-all-comments">
                                    <div class="top" style="margin: 10px 0 10px 0;">
                                        <div class="userDeatils">
                                            <div class="profileImg">
                                                <%= image_tag user_image_url(comment.user.profile), class: "cover" %>
                                            </div>
                                            <p>
                                                <%= comment.user.username %><br>
                                                <%= comment.body %><br>
                                                <span>
                                                    <a data-action="click->show-all-comments#showReply">Reply</a>
                                                </span><br>
                                            </p>
                                        </div>
                                        <div>
                                            <%= image_tag "heart-small.svg" %> 
                                        </div>
                                    </div>
                                    
                                    <%# sub Comment %>
                                    <div data-show-all-comments-target="showReplyHidDiv" class="hidden sub_comment">
                                        <div class="addComments">
                                            <div class="userImg">
                                                <%= image_tag user_image_url(current_user.profile), class: "cover"%>
                                            </div>

                                            <%= form_for Comment.new do |f|%>
                                                <%= f.hidden_field :user_id, value: current_user.id %>
                                                <%= f.hidden_field :commentable_id, value: comment.id %>
                                                <%= f.hidden_field :commentable_type, value: comment.class %>
                                                <%= f.text_field :body, class: "input_teg", class: "text", placeholder: "Add reply..." %>
                                                <%= f.submit "Post", :type => :image, :src => image_path("send.svg") %>
                                            <% end %>

                                        </div>
                                        
                                        <% comment.nested_comments.each do |comment| %>
                                            <div class="top" style="margin: 10px 0 10px 0;">
                                                <div class="userDeatils">
                                                    <div class="profileImg">
                                                        <%= image_tag user_image_url(comment.user.profile), class: "cover" %>
                                                    </div>
                                                    <p>
                                                        <%= comment.user.username %><br>
                                                        <%= comment.body %><br>
                                                    </p>
                                                </div>
                                                <div>
                                                    <%= image_tag "heart-small.svg" %> 
                                                </div>
                                            </div>
                                        <% end %>
                                        
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <%# Add comments %>
                    <div class="addComments">
                        <div class="userImg">
                            <%= image_tag user_image_url(current_user.profile), class: "cover"%>
                        </div>

                        <%= form_for Comment.new do |f|%>
                            <%= f.hidden_field :user_id, value: current_user.id %>
                            <%= f.hidden_field :commentable_id, value: post.id %>
                            <%= f.hidden_field :commentable_type, value: post.class %>
                            <%= f.text_field :body, class: "input_teg", class: "text", placeholder: "Add a comment..." %>
                            <%= f.submit "Post", :type => :image, :src => image_path("send.svg") %>
                        <% end %>

                        <%# <input type="text" class="text" placeholder="Add a comment..."> %>
                    </div>
                    <h5 class="postTime"><%= time_ago_in_words(post.created_at) %> ago</h5>
                </div>
            <% end %>

        </div>  
        <div class="sidebar">
            <div class="top">
                <div class="userDeatils">
                    <div class="profileImg">

                        <%= image_tag user_image_url(current_user.profile), class: "cover"  %>

                        <%#= image_tag 'default-user.png', class: "cover" %>
                    </div>
                    <p><%= current_user.username %></p>
                </div>
                <h5>Suggestions for you</h5>

                <% User.all.each do |user| %>
                    <div class="userDeatils">
                        <div class="profileImg">
                            <%= image_tag user_image_url(user.profile), class: "cover" %>
                        </div>
                        <p><%= user.username %><br><span><%= user.profile.bio %></span></p>
                    </div>
                <% end %>
            </div>
        </div>
        </div>
    </div>

    <%# <script>
                function likeButton(){
            let heart = document.querySelector('.heart');
            let likes = document.querySelector('.likes');
            if(heart.src.match("heart.png")){
                heart.src = "heart_red.png";
                likes.innerHTML = "5,490 likes";
            } else {
                heart.src = "heart.png";
                likes.innerHTML = "5,489 likes"
            }
        }
    </script> %>

</body>
</html>