<div class="c-panel group">
  <div class="forgot_password_text">
    <p>Change your password</p>
  </div>

  <div class="c-panel__form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <%= f.password_field :password, class: "c-panel__input", placeholder: "New password" %>
      <%= f.password_field :password_confirmation, class: "c-panel__input", placeholder: "Confirm new password" %>
      <%= f.submit "Change my password", class: "c-btn1" %>
    <% end %>
  </div>
</div>

<div class="c-signup group">
  <p>Don't Reset Password? <span> <%= link_to "Log in", new_session_path(resource_name) %></span></p>
</div>
