<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Clone</title>
    <%= favicon_link_tag asset_path('instagram.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "auth", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="l-main">
      <div class="l-user">
        <%= yield %>
        <%= yield :shyam %>
      </div>
    </main>
  </body>
</html>